html,
body {
	height: 100%;
	margin: 0;
}

.menu-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* Center items vertically */
	/* Full viewport height */
	gap: 20px;
	padding: 20px;
	flex-grow: 1;
}

.menu-button {
	display: block;
	width: 300px;
	padding: 40px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	transition: transform 0.2s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.menu-button:hover {
	transform: scale(1.05);
	background-color: #45a049;
}

.menu-content h2 {
	margin: 0;
	font-size: 24px;
}

.menu-content p {
	margin: 10px 0 0;
	font-size: 16px;
}

.menu-button.disabled {
	background-color: #8eb590;
	transition: none;
	cursor:default;
}

.menu-button.disabled:hover {
	transform: scale(1.0);
	background-color: #8eb590;
}